# Database
DATABASE_TYPE=postgresql
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/minihes

# API
API_V1_PREFIX=/api/v1
PROJECT_NAME=MiniHES
DEBUG=true
CORS_ORIGINS=["http://localhost:3000"]
